In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/SuperStore_Sales_Dataset.csv")
df.head()

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,NaN,Online,NaN,NaN
2,4920,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Technology,Phones,GE 30522EE2,231.98,2,67.2742,NaN,Cards,NaN,NaN
3,3074,CA-2019-125206,03-01-2019,05-01-2019,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,NaN,Online,NaN,NaN
4,8604,US-2019-116365,03-01-2019,08-01-2019,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.08,2,-5.2640,NaN,Online,NaN,NaN

In [2]:
df.info()
df.isna().sum().sort_values(ascending=False).head(15)
df.describe(include="all").T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID+O6G3A1:R6  5901 non-null   int64
 1   Order ID          5901 non-null   object
 2   Order Date        5901 non-null   object
 3   Ship Date         5901 non-null   object
 4   Ship Mode         5901 non-null   object
 5   Customer ID       5901 non-null   object
 6   Customer Name     5901 non-null   object
 7   Segment           5901 non-null   object
 8   Country           5901 non-null   object
 9   City              5901 non-null   object
 10  State             5901 non-null   object
 11  Region            5901 non-null   object
 12  Product ID        5901 non-null   object
 13  Category          5901 non-null   object
 14  Sub-Category      5901 non-null   object
 15  Product Name      5901 non-null   object
 16  Sales             5901 non-null   float64
 17  Quantity          5901 non-null   int64
 18  Profit            5901 non-null   float64
 19  Returns           287 non-null    float64
 20  Payment Mode      5901 non-null   object
 21  ind1              0 non-null      float64
 22  ind2              0 non-null      float64
dtypes: float64(5), int64(2), object(16)
memory usage: 1.0+ MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Row ID+O6G3A1:R6,5901.0,NaN,NaN,NaN,5022.422471,2877.977184,1.0,2486.0,5091.0,7456.0,9994.0
Order ID,5901,3003,CA-2020-100111,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order Date,5901,643,05-09-2019,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ship Date,5901,690,26-09-2020,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ship Mode,5901,4,Standard Class,3451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer ID,5901,773,EP-13915,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Name,5901,773,Emily Phan,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Segment,5901,3,Consumer,2997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,5901,1,United States,5901,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,5901,452,New York City,563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,5901,49,California,1189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,5901,4,West,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product ID,5901,1755,TEC-AC-10003832,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,5901,3,Office Supplies,3569,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sub-Category,5901,17,Binders,915,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product Name,5901,1742,Easy-staple paper,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sales,5901.0,NaN,NaN,NaN,265.345589,474.260645,0.836,71.976,128.648,265.17,9099.93
Quantity,5901.0,NaN,NaN,NaN,3.781901,2.212917,1.0,2.0,3.0,5.0,14.0
Profit,5901.0,NaN,NaN,NaN,29.700408,259.589138,-6599.978,1.7955,8.5025,28.615,8399.976
Returns,287.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
Payment Mode,5901,3,COD,2453,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ind1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ind2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df[["Order Date", "Ship Date"]].head(10)

   Order Date   Ship Date
0  01-01-2019  07-01-2019
1  02-01-2019  07-01-2019
2  02-01-2019  07-01-2019
3  03-01-2019  05-01-2019
4  03-01-2019  08-01-2019
5  03-01-2019  08-01-2019
6  03-01-2019  08-01-2019
7  03-01-2019  08-01-2019
8  03-01-2019  08-01-2019
9  04-01-2019  09-01-2019

In [4]:
df["Order Date"] = pd.to_datetime(df["Order Date"], dayfirst=True, errors="coerce")
df["Ship Date"]  = pd.to_datetime(df["Ship Date"],  dayfirst=True, errors="coerce")

In [5]:
df[["Order Date", "Ship Date"]].head()

  Order Date  Ship Date
0 2019-01-01 2019-01-07
1 2019-01-02 2019-01-07
2 2019-01-02 2019-01-07
3 2019-01-03 2019-01-05
4 2019-01-03 2019-01-08

In [6]:
df["order_year"] = df["Order Date"].dt.year
df["order_month"] = df["Order Date"].dt.to_period("M").astype(str)
df["ship_days"] = (df["Ship Date"] - df["Order Date"]).dt.days

In [7]:
monthly = df.groupby("order_month", as_index=False)[["Sales", "Profit"]].sum()
top_products = (df.groupby("Product Name", as_index=False)[["Sales", "Profit"]].sum()
                  .sort_values("Sales", ascending=False).head(10))
top_regions = (df.groupby("Region", as_index=False)[["Sales", "Profit"]].sum()
                 .sort_values("Sales", ascending=False))

monthly.head(), top_products, top_regions

(  order_month      Sales     Profit
 0     2019-01  18616.431  2853.0901
 1     2019-02  19978.815  5004.5795
 2     2019-03  51715.875  3611.9680
 3     2019-04  38750.039  2977.8149
 4     2019-05  50987.728  8662.1464,
                                            Product Name      Sales      Profit
 18     3D Systems Cube Printer, 2nd Generation, Magenta  14334.890   3717.9714
 388               Canon imageCLASS 2200 Advanced Copier  14076.824  25199.9280
 766                Hewlett Packard LaserJet 3310 Copier  13837.732   6407.8932
 650          GBC DocuBind TL300 Electric Binding System  12890.258   2753.7593
 647           GBC DocuBind P400 Electric Binding System  12577.108    762.1544
 1311                            Samsung Galaxy Mega 6.3  12370.708   1696.7596
 988   Martin Yale Chadless Opener Electric Letter Op...  12268.902  -1232.5588
 747        HON 5400 Series Task Chairs for Big and Tall  11887.562     70.0980
 730       Global Troy Executive Leather Low-Back Tilter  10217.894    776.5190
 616   Fellowes PB500 Electric Punch Plastic Comb Bin...   9756.524   -508.3960,
     Region        Sales      Profit
 3     West  522441.0520  67859.9582
 1     East  450234.6660  53400.4243
 0  Central  341007.5242  27450.0071
 2    South  252121.0810  26551.7163)

In [8]:
df.to_csv("../data/processed/superstore_clean.csv", index=False)